.btn-blue {
  background-color: #bfe6ed;
}

.btn-darkblue {
  background-color: #76c7d6;
}

.btn-lightpink {
  background-color: #fbdce3;
}

.btn-lilac {
  background-color: #d6d4ed;
}

.btn-primary {
  border: 1px solid transparent;
  border-radius: 8px;
  margin-right: 15px;
  color: black;
}

.btn-outline {
  border: 2px solid #000;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
  background-color: transparent;
  color: black;
  padding: 1.25em 2em;
  font-size: 0.7em;
  transition: all 0.25s;
}
.btn-medium {
  padding: 8px 20px;
  font-size: 16px;
  transition: all 0.25s;
}
.btn-large {
  padding: 12px 26px;
  font-size: 20px;
  transition: all 0.25s;
}

.btn-outline:hover,
.btn-medium:hover,
.btn-large:hover {
  box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25em);
}
