.navbar {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100%, 60%) scale(1.25);
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 90vh;
  top: 80px;
  position: absolute;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
}

.nav-menu.active {
  list-style: none;
  background: #242222;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-item {
  height: 80px;
}

.nav-links {
  display: block;
  text-align: center;
  margin: 2rem 1px;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  padding: 14px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.nav-links:hover {
  background-color: #fff;
  color: #242424;
  border-radius: 0;
}

.endday {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
}
